# Python Syntax

## Display come thing in the console (Terminal)

In [2]:
print("Lets Do Python")

Lets Do Python

## Python Syntax Stracture
- Every code block or Command ends with a newline
- Codes in side of a block (like: ```Conditionals``` , ```Loops``` , etc.) are written with indentation (4 white spaces) .

In [3]:
# define main function to print out something
def main():
    i = 1
    max = 10
    while (i < max):
        print(i)
        i = i + 1

# call function main 
main()

1
2
3
4
5
6
7
8
9

## Comments

### Single Line Comments
- Using ```#``` will make the rest of the line comments

In [4]:
#This is a Comment.
print("Lets Do Python") #This is a Comment
#This is a Comment.

Lets Do Python

### Multi Line Comments
- Using ```#``` for multi-line comments

In [5]:
#This is 1st line Comment.
#This is 2nd line Comment.
#This is 3rd line Comment.
print("Lets Do Python") #This is a Comment
#This is a Comment.

Lets Do Python

- Using  ( ``` """ ... """ ``` )

In [6]:
"""
This is 1st line Comment.
This is 2nd line Comment.
This is 3rd line Comment.
"""
print("Lets Do Python") #This is a Comment
#This is a Comment.

Lets Do Python

## Continuation Statements
- Using (```\```) Single line code is brocken and continued from the next line

In [9]:
print("Lets Do \
Python")
# Both Code will act same
print("Lets Do Python")

Lets Do Python
Lets Do Python

## Keyword
- Python is case sensitive language

- No error for ```print```

In [13]:
print("Lets Do Python")

Lets Do Python

- Error for ```Print``` as ```print``` $\neq$ ```Print```

In [14]:
Print("Lets Do Python")

NameError: name 'Print' is not defined

- This also implies with names that identify ```variables, functions, modules, classes```, and other objects in Python.

- Python ```keyworks```

In [23]:
import keyword

# Print 5 elements of keyword.kwlist per line
for i in range(0, len(keyword.kwlist), 5):
    print(keyword.kwlist[i:i+5])

['False', 'None', 'True', 'and', 'as']
['assert', 'async', 'await', 'break', 'class']
['continue', 'def', 'del', 'elif', 'else']
['except', 'finally', 'for', 'from', 'global']
['if', 'import', 'in', 'is', 'lambda']
['nonlocal', 'not', 'or', 'pass', 'raise']
['return', 'try', 'while', 'with', 'yield']

# Variables

## Naming variables

When you name a variable, you need to adhere to some rules. If you don’t, you’ll get an error.

The following are the variable rules that you should keep in mind:

- Variable names can contain only letters, numbers, and underscores (`_`). They can start with a letter or an underscore (`_`), not with a number.
- Variable names cannot contain spaces. To separate words in variables, you use underscores for example `sorted_list`.
- Variable names cannot be the same as keywords, reserved words, and built-in functions in Python.

The following guidelines help you define good variable names:

- Variable names should be concise and descriptive. For example, the `active_user` variable is more descriptive than the `au`.
- Use underscores (`_`) to separate multiple words in the variable names.
- Avoid using the letter `l` and the uppercase letter `O` because they look like the number `1` and `0`.

In [41]:
myvar = "name"
my_var = "name"
_my_var = "name"
myVar = "name"
MYVAR = "name"
myvar2 = "name"

In [46]:
2myvar = "name"
my-var = "name"
my var = "name"

SyntaxError: invalid decimal literal (3827396929.py, line 1)

### Multi Words Variable Names


Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:

#### Camel Case

Each word, except the first, starts with a capital letter:
`myVariableName = "John"`

#### Pascal Case

Each word starts with a capital letter:
`MyVariableName = "John"`

#### Snake Case

Each word is separated by an underscore character:
`my_variable_name = "John"`

#### Best to choose one of the style and keep consistent in the whole code.

## Creating variables

- A variable is a label that you can assign a value to it. The value of a variable can change throughout the program.
- Use the `variable_name = value` to create a variable.
- The variable names should be as concise and descriptive as possible. Also, they should adhere to Python variable naming rules.

In [30]:
variable_name = 102

print(variable_name)

102

In [31]:
variable_name = "Hello"

print(variable_name)

Hello

In [32]:
variable_name = 'How are you?'

print(variable_name)

How are you?

In [33]:
variable_name = '''Go home.
Do not come back here'''

print(variable_name)

Go home.
Do not come back here

## Casting

- If you want to specify the data type of a variable, this can be done with casting.
    examples: `str()` , `int()` , `float()` , `double()` , etc.
- You can get the data type of a variable with the `type()` function.

In [40]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0 

print(x)
print(type(x))

print(y)
print(type(y))

print(z)
print(type(z))

3
<class 'str'>
3
<class 'int'>
3.0
<class 'float'>

## Many Values to Multiple Variables

Python allows you to assign values to multiple variables in one line:

In [47]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

## One Value to Multiple Variables


And you can assign the same value to multiple variables in one line:

In [48]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [1]:
x = "Hello World"	
print(x)
print(type(x))

Hello World
<class 'str'>

In [2]:
x = 20
print(x)
print(type(x))

20
<class 'int'>

In [3]:
x = 20.5
print(x)
print(type(x))

20.5
<class 'float'>

In [4]:
x = 1j
print(x)
print(type(x))

1j
<class 'complex'>

In [5]:
x = ["apple", "banana", "cherry"]
print(x)
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [6]:
x = ("apple", "banana", "cherry")
print(x)
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [8]:
x = range(6)
print(x)
print(type(x))

range(0, 6)
<class 'range'>

In [9]:
x = {"name" : "John", "age" : 36}
print(x)
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [10]:
x = {"apple", "banana", "cherry"}
print(x)
print(type(x))

{'cherry', 'banana', 'apple'}
<class 'set'>

In [12]:
x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'cherry', 'banana', 'apple'})
<class 'frozenset'>

In [27]:
x = True	
print(x)
print(type(x))

x = bool(5)     # bool(0) = False and bool(!=0) = True
print(x)
print(type(x))

x = bool(0)
print(x)
print(type(x))

True
<class 'bool'>
True
<class 'bool'>
False
<class 'bool'>

In [28]:
x = b"Hello"
print(x)
print(type(x))

x = bytes(5)
print(x)
print(type(x))

b'Hello'
<class 'bytes'>
b'\x00\x00\x00\x00\x00'
<class 'bytes'>

In [18]:
x = bytearray(5)
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [19]:
x = memoryview(bytes(5))
print(x)
print(type(x))

<memory at 0x7f1b3f1e1e40>
<class 'memoryview'>

In [20]:
x = None
print(x)
print(type(x))

None
<class 'NoneType'>

In [26]:
s = 'This is a string'
print(s)
print(type(s))

s = "Another string using double quotes"
print(s)
print(type(s))

This is a string
<class 'str'>
Another string using double quotes
<class 'str'>

- Multiline string `''' .... '''`

In [25]:
s = ''' string can span
        multiple line '''
print(s)
print(type(s))

 string can span
        multiple line
<class 'str'>

- If a string contains a single quote, you should place it in double-quotes like this:
    - `message = "It's a string"`

- And when a string contains double quotes, you can use the single quotes:
    - `message = '"Beautiful is better than ugly.". Said Tim Peters'`
- To escape the quotes, you use the backslash (`\`).

In [50]:
s = 'It\'s also a valid string'

print(s)
print(type(s))

It's also a valid string
<class 'str'>

- The Python interpreter will treat the backslash character (`\`) special. If you don’t want it to do so, you can use raw strings by adding the letter `r` before the first quote.

In [56]:
#Single quotes
s1 = r'C:\python\bin'
s2 = 'C:\python\bin'

print(s1)
print(s2)

C:\python\bin
C:\pythoin

In [55]:
#Double quotes
s1 = r"C:\python\bin"
s2 = "C:\python\bin"

print(s1)
print(s2)

Double quotes
C:\python\bin
C:\pythoin

- use the values of `variables` in a string.
- To do it, you place the letter `f` before the opening quotation mark and put the `brace` around the `variable name`:

In [57]:
name = 'John'
message = f'Hi {name}'
print(message)

Hi John

- Concatenating Python strings

In [58]:
greeting = 'Good ' 'Morning!'
print(greeting)

Good Morning!

In [59]:
greeting = 'Good'
time = 'Afternoon'

greeting = greeting + ' ' + time + '!'  # ' ' to add white space
print(greeting)

Good Afternoon!

- `Accessing string element`
- Since a string is a sequence of characters, you can access its elements using an index. The first character in the string has an index of `zero` (`0`).

In [1]:
str = "Python String"
print(str[0]) # P
print(str[1]) # y

P
y

- If you use a `negative index`, Python returns the character starting from the `end of the string`.

In [2]:
str = "Python String"
print(str[-1])  # g
print(str[-2])  # n

g
n

- The following illustrates the indexes of the string `Python String`:

|String| P | y | t | h | o | n |   | S | t | r | i | n | g | 
|------|---|---|---|---|---|---|---|---|---|---|---|---|---|
|Index | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10| 11| 12|
|Neg Index|-13|-12|-11|-10| -9|-8 | -7| -6| -5| -4| -3| -2| -1|

- To get the length of a string, you use the `len()` function.

In [3]:
str = "Python String"
str_len = len(str)
print(str_len)

13

- `Slicing` allows you to get a `substring` from a string.

In [9]:
str = "Python String"
print(str[1:3]) # Start from 1 to 3rd elements

yt

- The `str[1:3]` returns a substring that includes the character from the index `1` (`included`) to `3` (`excluded`).

In [12]:
print(str[1:]) # Start from 1 to end
print(str[:3]) # Start from 0 to 3rd elements(excluding index 3)

ython String
Pyt

-Python strings are `immutable`. It means that you `cannot change` the string.

In [10]:
str = "Python String"
str[0] = 'J'

TypeError: 'str' object does not support item assignment

- When want to `modify` a string, you need to create a `new` one from the existing string. And can replace the existing string.

In [20]:
str = "Python String"
print("Original\t: " + str)

new_str = 'J' + str[1:]
print("New\t\t: " + new_str)

str = new_str
print("Replace\t\t: " +str)

Original	: Python String
New		: Jython String
Replace		: Jython String

### Arithmetic Operators

|Operator |	Name |	Example |
|--------|----------|-------|
|`+ `	|Addition |	`x + y `	|
|`-` 	|Subtraction |`	x - y `	|
|`* `	|Multiplication |	`x * y` 	|
|`/ `	|Division |	`x / y `	|
|`%` 	|Modulus |	`x % y` 	|
|`**` |	Exponentiation |	`x ** y `	|
|`//` |	Floor division |	`x // y` 	|

### Example

In [36]:
x = 23.7
y = 5

In [37]:
x + y # Addition

28.7

In [38]:
x - y # Subtraction

18.7

In [39]:
x * y # Multiplication

118.5

In [41]:
x ** y # Exponentiation

7477247.049569999

In [40]:
x / y # Division

4.74

In [42]:
x // y # Floor Division

4.0

In [48]:
z = 10_000_000.45_46 # 10,000,000.45,46 to read the nubmber easily  (_) is used between digits

print(z)

10000000.4546

### Comparison operators

| Operator |	Name |	Example 	|
|----------|----------|-------------|
|`==`|	Equal 	|`x == y` 	|
|`!=`|	Not equal| 	`x != y`| 	
|`>` |Greater than |	`x > y`| 	
|`<` |Less than |	`x < y` 	|
|`>=`|	Greater than or equal to |	`x >= y`| 	
|`<=`| 	Less than or equal to |	`x <= y`|

### Logical Operators

|Operator |	Description 	|Example|
|-----|---------|------|
|`and`  	|Returns True if both statements are true |	`x < 5 and  x < 10 `	|
|`or` |	Returns True if one of the statements is true |	`x < 5 or x < 4 `	|
|`not` |	Reverse the result, returns False if the result is true |	`not(x < 5 and x < 10)`|

### Identity Operators

|Operator |	Description |	Example|
|----------|-----------|-----------|
|`is`  	|Returns True if both variables are the same object |	`x is y` 	|
|`is not` |	Returns True if both variables are not the same object |	`x is not y`|

### Membership Operators

|Operator |	Description |	Example |
|-----------|------------|-----------|
|`in`  	|Returns True if a sequence with the specified value is present in the object |	`x in y` 	|
|`not in` |	Returns True if a sequence with the specified value is not present in the object |	`x not in y`|

### Examples

In [65]:
a = 20
b = 45

**Comparison operator**

In [50]:
a == b # Equality

False

In [51]:
a != b # Not Equality

True

In [52]:
a > b # Greater than

False

In [78]:
a < b # Less than

False

In [54]:
a >= b # Greater than or equal to

False

In [55]:
a <= b # Less than or equal to

True

**Logical Operators**

In [80]:
a < b and a == b # Logical AND (less than and equal to)

False

In [79]:
a < b or a == b # Logical OR (less than or equal to)

True

In [81]:
not(a < b) # Logical NOT (not less than)

False

**Identity Operator**

In [69]:
a is b # Identity (datatype & value are same)

False

In [57]:
a is not b # Not Identity

True

**Membership Operators**

In [60]:
b = [1, 2, 3] # List

In [61]:
a in b # Membership

False

In [62]:
a not in b # Not Membership

True